# IntelliJ IDEA files
.idea/

# Node.js dependencies
node_modules/

# Build files
/build/
/dist/

# Compiled files
*.log
*.pem
*.pid
*.seed
*.pid.lock
*.wixproj
*.gradle
*.log
*.vsix
*.nupkg
*.pfx
*.snk
*.swp
*.jar
*.war
*.ear
*.hprof
*.orig.*
*.pyc
*.pyo
*.dist
*.exe
*.msi
*.msp
*.dll
*.pdb
*.obj
*.ipch/
*.aps
*.pch
*.suo
*.exp
*.user
*.pidb
*.manifest
*.tlog/
*.tlog/
*.idb
*.manifest
*.obj
*.pch
*.res
*.suo
*.sdf
*.opensdf
*.dbmdl
*.bak
*.cache/
*.dbproj
*.dbmdl
*.vc.db
*.VC.opendb
*.sln.docstates
*.suo
*.sln.cache
*.suo
*.swp
*.ipr
*.iws
*.iml
*.ide/
*.workspace/
.idea
